appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
cycler==0.10.0
decorator==4.0.9
Django==1.9.6
image==1.5.3
imageDiff==0.0.1
ipython==4.2.0
ipython-genutils==0.1.0
matplotlib==1.5.1
morphdiff==0.0.1
morphmaker==0.0.1
numpy==1.11.0
path.py==0.0.0
pexpect==4.0.1
pickleshare==0.5
Pillow==8.1.1
ptyprocess==0.5
pyparsing==2.1.4
python-dateutil==2.5.3
pytz==2016.4
scipy==0.17.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
